//1st palette experiment
$coral: #e14658;
$navy: #22242c;
$mountain: #3f3250;
$scrub: #c0b3a0;

//2nd palette experiment
$light: #e0fbfc;
$light2: #c2dfe3;
$light3: #9db4c0;
$dark1: #5c6b73;
$dark2: #253237;
