.center-horizontal {
  display: flex !important;
  justify-content: center !important;
}

.card-padding {
  padding: 30px !important;
}

.card-padding-account {
  padding: 30px !important;
  width: 350px !important;
}
